


header{
    text-align: center; 
} 

table{
    position: relative;
    bottom: 100px;
}

h1{
    position: relative;
    height: 50px;
    right: 550px;
    bottom: 130px;
}

table, th, td{
    border: 1px solid black;
    
}


figcaption{
    left: 700px;
}


h2{
position: relative;
top: 100px;
right: 600px;
}

h3{
position: relative;
top: 180px;
right: 600px; 


}

article{
    position: relative;
    top: 90px;
    color: blue;
    text-align: left;
}

aside{
    position: relative; 
    color: purple ;
    top: 780px;
     

}

div{
    position: relative;
    top: 800px; 
    color: red;
    text-align : left;
}

p{
    position: relative;
    top: 200px;
   }



footer{
    position: relative;
    top : 400px;
    color: green;
    text-align:left;
}
