

header{
    text-align: center; 
} 

h1{
    position: center;
 
}

nav{
    
}

table, th, td{
    border: 1px solid black;
    
}

summary{
 top: 50px;   
}

figcaption{
    right: 700px;
}

p{
    position: relative;
    top: 50px;
   }

a{
text-align: right;    
}


article{
    position: relative;
    top: 150px;
    color: blue;
    text-align: left;
}

aside{
    color: purple ;
    text-align: center; 
}

div{
    position: relative;
    top: 100px; 
    color: red;
    text-align : left;
}

footer{
    position: relative;
    top : 250px;
    color: green;
    text-align:left;
}
